[submodule "quickfix"]
	path = quickfix
	url = git@github.com:quickfix/quickfix.git
[submodule "vendor/styleguide"]
	path = vendor/styleguide
	url = git@github.com:google/styleguide.git
[submodule "vendor/jsonxx"]
	path = vendor/jsonxx
	url = https://github.com/chenlucan/jsonxx.git
[submodule "vendor/sbe"]
	path = vendor/sbe
	url = https://github.com/real-logic/simple-binary-encoding.git
[submodule "vendor/quickfix"]
	path = vendor/quickfix
	url = git@github.com:quickfix/quickfix.git
